.float-box{
margin-top:35px;
}



.profile{
	height:750px;
	text-align: center;
	width:25%;
	background-image:url("home.jpg");
	background-size:100% 100%;
	margin:0;
	float:left;

}

.function1{
	height:375px;
	text-align: center;
	width:37.5%;
	background-image: url("background2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	float:right;
	margin:0;
}

.function2{
	height:375px;
	text-align: center;
	width:37.5%;
	background-color:rgba(190,190,190,0.3);
	float:right;
	margin:0;
}

.function3{
	height:375px;
	text-align: center;
	width:37.5%;
	background-color:rgba(190,190,190,0.3);
	float:right;
	margin:0;
}

.function4{
	height:375px;
	text-align: center;
	width:37.5%;
	background-image: url("background2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	float:right;
	margin:0;
}

.clear{
	clear:both;
	margin:0;
	padding:0;
}
    
