.float-box{
margin-top:35px;
width:100%;
background-image:url("background4.jpg");
height:750px;
background-size:100% 100%;
}



.profile{
	height:750px;
	text-align: center;
	width:30%;
	margin:0;
	float:left;

}


.function1{
	height:375px;
	text-align: center;
	width:35%;
	background-image:url("balloon.png");
	background-repeat: no-repeat;
	background-size:100% 100%;
	float:right;
	margin:0;
}

.function2{
	height:375px;
	text-align: center;
	width:35%;
	background-image:url("balloon.png");
	background-repeat: no-repeat;
	background-size:100% 100%;
	float:right;
	margin:0;
}

.function3{
	height:375px;
	text-align: center;
	width:35%;
	background-image:url("balloon.png");
	background-repeat: no-repeat;
	background-size:100% 100%;
	float:right;
	margin:0;
}

.function4{
	height:375px;
	text-align: center;
	width:35%;
	background-image:url("balloon.png");
	background-repeat: no-repeat;
	background-size:100% 100%;
	float:right;
	margin:0;
}

.clear{
	clear:both;
	margin:0;
	padding:0;
}
    
