.background {
  padding-top:100px;
  padding-bottom: 400px;
  width:100%;
  background-image: url("alltask.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:35px;

}
.background2{
  font-family:verdana;
  padding-top:20px;
  padding-bottom:20px;
  width:80%;
  margin:auto;
  background-color:rgba(245,245,245,0.6);
  
}

.tasks {
	font-family:verdana;
}

.detail {
  float: left;
  width: 10%;
  padding: 10px;
  background-color:rgba(245,245,245,0.6);
  
  font-family:verdana;
  font-size: 10px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.detail:hover {
  color:white;
  opacity: 0.8;
}

/* Clear floats */
.detail:after {
  content: "";
  clear: both;
  display: table;
}