
.form-login{
	text-align: center;
	width:40%;
	height:300px;
	margin:auto;
	line-height: 3em;
	background-color:rgba(245,245,245,0.6);
	border-radius: 5px;
	vertical-align: middle;
	padding:60px 10px;
}

.form-login h1{
	margin:0;
	
}


.noaccount{
	text-decoration: underline;
	color:#333;
	font-size:14px;
	font-style: italic;
}

.email-only{
	font-size:12px;
	color:#666;
	margin:0;
}

#email{
	width:80%;
	height:30px;
	border-radius:5px;
	margin:0;
}

#password{
	width:80%;
	height:30px;
	border-radius: 5px;
	margin:0;
	padding-top:0;
}

.pwd-only{
	font-size:12px;
	color:#666;
	margin:0;
}

.whole{
	width:100%;
	background-image: url('log.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 650px;
	padding-top:12%;
	padding-bottom:12%;
	margin-top: 35px;

	
}

#loginBtn{
	width:80%;
	height: 40px;
	border-radius: 5px;
	background-color:green;
	padding:0 10px;
}

#loginBtn a{
	text-decoration: none;
	font-size:14px;
	color:rgb(245,245,245);
}

label{
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}

input{
	vertical-align: middle;
	padding:2px 10px 2px 10px;
	border:1px solid rgb(216,216,216);
}

input[type="text"]{
	height:14px;
	line-height: 14px;
	border-radius:5px;
	padding:10px 10px;
	vertical-align: middle;
	color:#666;
}


