body{
	margin:0;
	padding:0;
	line-height:30px;
}
.box-1{
	box-sizing:content-center;
	margin-top:100px;
	height:550px;
	text-align: center;
	width:100%;
	background-image: url("start.jpg");
	background-repeat: repeat;
	background-size: 28% 86%;
	margin:0;

}

.box-1 h1{
	font-size:40px;
	margin:0;
	padding-top:100px;


}

.box-1 h6{
	font-family: oblique;
	font-weight: normal;
	font-size: 15px;
	font-style: italic;
	margin:0;
	padding:0;
}

.box-2 {
	background:rgba(253, 253, 253,0.6);
	margin:0;
}


.bar{
    position: absolute;
    padding-top:8px;
    width:80%;
    left:10%;
}



.logo{
    float:left;
}

.hyperlink{
    float:right;
}

.bartext{
    padding-top:3px;
}


.bartext a{
    padding-top:7px;
    padding-bottom:7px;
    padding-left:6px;
    padding-right:6px;
    text-decoration: none;
    color:  #333;
    text-align: center;
}
.bartext a:hover{
  color:#F5F5F5;
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
}


.clear{
	clear:both;
}


.example1{
	position: absolute;
	width:25%;
	left:6.25%;
	top:60%;
	margin:0;
	text-align:center;
	height:270px;
	background:rgba(0,204,238,0.2);
}

.example2{
	position: absolute;
	width:25%;
	left:37.5%;
	top:60%;
	margin:0;
	text-align:center;
	height:270px;
	background:rgba(0,204,238,0.3);
}

.example3{
	position: absolute;
	width:25%;
	left:68.75%;
	top:60%;
	margin:0;
	text-align:center;
	height:270px;
	background:rgba(0,204,238,0.4);
}

.background{
	background-color:white;
	width:100%;
	padding-top:300px;
	height:150%;
}

.flower{
    position: absolute;
	width:100%;
	height:8%;
	top:95%;
	background-size: 5% 100%;
	opacity: 0.8;
  background-image: url("flower.jpg");

}

.process{
	font-family:Verdana;
	padding-top:10px;
	width:100%;
	padding-bottom:220px;
	text-align:center;
	margin:0;
	background-image: url("start2.jpg");
	background-size:100% 110%;

}


