body{
	margin:0;
	padding:0;
	line-height:30px;
}

.box-1{
	position:absolute;
	height:500px;
	text-align: center;
	width:100%;
	background-image: url("banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin:0;
}

.box-1 h1{
	font-size:40px;
	margin:0;
	padding-top:100px;
}

.box-1 h6{
	font-weight: normal;
	font-size: 15px;
	font-style: italic;
	margin:0;
	padding:0;
}



.bar{
    position: absolute;
    padding-top:8px;
    width:80%;
    left:10%;
}
.decor{
    position: absolute;
    width:80%;
    left:10%;
    background-color:#333;
    opacity: 0.58;
}


.logo{
    float:left;
}

.hyperlink{
    float:right;
}

.bartext{
    padding-top:3px;
}


.bartext a{
    padding-top:7px;
    padding-bottom:7px;
    padding-left:6px;
    padding-right:6px;
    text-decoration: none;
    color:  #333;
    text-align: center;
}
.bartext a:hover{
  color:#F5F5F5;
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
}


.clear{
	clear:both;
}


.example1{
	position: absolute;
	width:25%;
	left:6.25%;
	top:92%;
	background-color:#666;
	margin:0;
	text-align:center;
	height:200px;
}

.example2{
	position: absolute;
	width:25%;
	left:37.5%;
	top:92%;
	background-color:#666;
	margin:0;
	text-align:center;
	height:200px;
}

.example3{
	position: absolute;
	width:25%;
	left:68.75%;
	top:92%;
	background-color:#666;
	margin:0;
	text-align:center;
	height:200px;
}

.background{
	background-color:#DCDCDC;
	width:100%;
	padding-bottom:220px;
	padding-top:500px;
}

.process{
	padding-top:10px;
	width:100%;
	padding-bottom:220px;
	text-align:center;
	margin:0;
}


